@-webkit-keyframes plus_scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  25% {
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@-webkit-keyframes min_scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  75% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@-webkit-keyframes down_swoosh {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  75% {
    -webkit-transform: scale(2) rotate(20deg) translateX(30px) translateY(-100px);
    -moz-transform: scale(2) rotate(20deg) translateX(30px) translateY(-100px);
    -o-transform: scale(2) rotate(20deg) translateX(30px) translateY(-100px);
    transform: scale(2) rotate(20deg) translateX(30px) translateY(-100px);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@-webkit-keyframes split_up {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(30px) translateY(-200px);
    -moz-transform: translateX(30px) translateY(-200px);
    -o-transform: translateX(30px) translateY(-200px);
    transform: translateX(30px) translateY(-200px);
    opacity: 1; } }
@-webkit-keyframes split_down {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(-30px) translateY(500px);
    -moz-transform: translateX(-30px) translateY(500px);
    -o-transform: translateX(-30px) translateY(500px);
    transform: translateX(-30px) translateY(500px);
    opacity: 1; } }
@-webkit-keyframes left {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px);
    opacity: 1; } }
@-webkit-keyframes right {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px);
    opacity: 1; } }
@-webkit-keyframes hideshow {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  55% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes floatie {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(5px, 5px);
    -moz-transform: translate(5px, 5px);
    -o-transform: translate(5px, 5px);
    transform: translate(5px, 5px); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-moz-keyframes plus_scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  25% {
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@-moz-keyframes min_scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  75% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@-moz-keyframes down_swoosh {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  75% {
    -webkit-transform: scale(2) rotate(20deg) translateX(30px) translateY(-100px);
    -moz-transform: scale(2) rotate(20deg) translateX(30px) translateY(-100px);
    -o-transform: scale(2) rotate(20deg) translateX(30px) translateY(-100px);
    transform: scale(2) rotate(20deg) translateX(30px) translateY(-100px);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@-moz-keyframes split_up {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(30px) translateY(-200px);
    -moz-transform: translateX(30px) translateY(-200px);
    -o-transform: translateX(30px) translateY(-200px);
    transform: translateX(30px) translateY(-200px);
    opacity: 1; } }
@-moz-keyframes split_down {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(-30px) translateY(500px);
    -moz-transform: translateX(-30px) translateY(500px);
    -o-transform: translateX(-30px) translateY(500px);
    transform: translateX(-30px) translateY(500px);
    opacity: 1; } }
@-moz-keyframes left {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px);
    opacity: 1; } }
@-moz-keyframes right {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px);
    opacity: 1; } }
@-moz-keyframes hideshow {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  55% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes plus_scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  25% {
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    transform: scale(3);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@keyframes min_scale {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  75% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@keyframes down_swoosh {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  75% {
    -webkit-transform: scale(2) rotate(20deg) translateX(30px) translateY(-100px);
    -moz-transform: scale(2) rotate(20deg) translateX(30px) translateY(-100px);
    -o-transform: scale(2) rotate(20deg) translateX(30px) translateY(-100px);
    transform: scale(2) rotate(20deg) translateX(30px) translateY(-100px);
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; } }
@keyframes split_up {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(30px) translateY(-200px);
    -moz-transform: translateX(30px) translateY(-200px);
    -o-transform: translateX(30px) translateY(-200px);
    transform: translateX(30px) translateY(-200px);
    opacity: 1; } }
@keyframes split_down {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(-30px) translateY(500px);
    -moz-transform: translateX(-30px) translateY(500px);
    -o-transform: translateX(-30px) translateY(500px);
    transform: translateX(-30px) translateY(500px);
    opacity: 1; } }
@keyframes left {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(-300px);
    -moz-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    transform: translateX(-300px);
    opacity: 1; } }
@keyframes right {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(300px);
    -moz-transform: translateX(300px);
    -o-transform: translateX(300px);
    transform: translateX(300px);
    opacity: 1; } }
@keyframes hideshow {
  0% {
    opacity: 0; }
  30% {
    opacity: 1; }
  55% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes floatie {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(5px, 5px);
    -moz-transform: translate(5px, 5px);
    -o-transform: translate(5px, 5px);
    transform: translate(5px, 5px); }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
* {
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font-family: sans-serif;
  text-align: center;
  background-color: #eee;
  height: 100%; }

.container {
  width: 100%;
  height: 100%; }

.grid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  height: 100%; }
  .grid table {
    width: 100%;
    height: 100%; }
  .grid .row {
    width: 100%; }
  .grid .square {
    width: 20%; }

.hint {
  background-color: #fff;
  border-radius: 8px;
  position: fixed;
  top: 80px;
  left: auto;
  width: 50%;
  left: 50%;
  margin: 0 0 0 -25.5%; }
  .hint p, .hint h1 {
    color: #aaa;
    padding: 10px;
    margin: 0 auto; }
  .hint p {
    line-height: 1.5em; }

.shape {
  -webkit-transition: all 0.3s cubic-bezier(0.22, 0.44, 0, 1);
  -moz-transition: all 0.3s cubic-bezier(0.22, 0.44, 0, 1);
  -o-transition: all 0.3s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 0.3s cubic-bezier(0.22, 0.44, 0, 1);
  -webkit-animation: floatie 1s cubic-bezier(0.22, 0.44, 0, 1);
  -moz-animation: floatie 1s cubic-bezier(0.22, 0.44, 0, 1);
  -o-animation: floatie 1s cubic-bezier(0.22, 0.44, 0, 1);
  animation: floatie 1s cubic-bezier(0.22, 0.44, 0, 1);
  animation-iteration-count: infinite;
  display: none; }

.grid .square.active {
  opacity: .45; }

#nine, #thirtyseven, #six, #eight, #sixteen, #fortynine, #seventeen {
  -webkit-transition: all 0.3s cubic-bezier(0.22, 0.44, 0, 1);
  -moz-transition: all 0.3s cubic-bezier(0.22, 0.44, 0, 1);
  -o-transition: all 0.3s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 0.3s cubic-bezier(0.22, 0.44, 0, 1);
  opacity: 0; }

#two, #qZoom, #tan-dots, #seven, #eJiggle, #four, #skyaqua,
#ySguiggle, #ten, #sFadeIn, #fZoomOut, #hSmile, #jFadeIn, #kJiggle,
#xSguiggle, #eighteen, #twenty, #zZoom, #nZoomOut {
  -webkit-transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
  -moz-transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
  -o-transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
  transition: all 1s cubic-bezier(0.22, 0.44, 0, 1);
  opacity: 0; }

#eJiggle.hideshow, #four.hideshow, #skyaqua.hideshow,
#ySguiggle.hideshow, #sFadeIn.hideshow,
#tan-dots.hideshow, #hSmile.hideshow, #jFadeIn.hideshow, #kJiggle.hideshow,
#xSguiggle.hideshow {
  -webkit-animation: hideshow 1.5s cubic-bezier(0.22, 0.44, 0, 1);
  -moz-animation: hideshow 1.5s cubic-bezier(0.22, 0.44, 0, 1);
  -o-animation: hideshow 1.5s cubic-bezier(0.22, 0.44, 0, 1);
  animation: hideshow 1.5s cubic-bezier(0.22, 0.44, 0, 1); }

#two.scale {
  -webkit-animation: plus_scale 1s cubic-bezier(0.22, 0.44, 0, 1);
  -moz-animation: plus_scale 1s cubic-bezier(0.22, 0.44, 0, 1);
  -o-animation: plus_scale 1s cubic-bezier(0.22, 0.44, 0, 1);
  animation: plus_scale 1s cubic-bezier(0.22, 0.44, 0, 1); }

#seven.min_scale, #fZoomOut.min_scale {
  -webkit-animation: min_scale 3s cubic-bezier(0.22, 0.44, 0, 1);
  -moz-animation: min_scale 3s cubic-bezier(0.22, 0.44, 0, 1);
  -o-animation: min_scale 3s cubic-bezier(0.22, 0.44, 0, 1);
  animation: min_scale 3s cubic-bezier(0.22, 0.44, 0, 1); }

#qZoom.down_swoosh, #ten.down_swoosh, #zZoom.down_swoosh {
  -webkit-animation: down_swoosh 1s cubic-bezier(0.22, 0.44, 0, 1);
  -moz-animation: down_swoosh 1s cubic-bezier(0.22, 0.44, 0, 1);
  -o-animation: down_swoosh 1s cubic-bezier(0.22, 0.44, 0, 1);
  animation: down_swoosh 1s cubic-bezier(0.22, 0.44, 0, 1); }

#nine.splitup, #seventeen.splitup, #nZoomOut.splitup {
  -webkit-animation: split_up 1s cubic-bezier(0.22, 0.44, 0, 1);
  -moz-animation: split_up 1s cubic-bezier(0.22, 0.44, 0, 1);
  -o-animation: split_up 1s cubic-bezier(0.22, 0.44, 0, 1);
  animation: split_up 1s cubic-bezier(0.22, 0.44, 0, 1); }

#thirtyseven.splitdown, #fortynine.splitdown, #sixteen.splitdown {
  -webkit-animation: split_down 1s cubic-bezier(0.22, 0.44, 0, 1);
  -moz-animation: split_down 1s cubic-bezier(0.22, 0.44, 0, 1);
  -o-animation: split_down 1s cubic-bezier(0.22, 0.44, 0, 1);
  animation: split_down 1s cubic-bezier(0.22, 0.44, 0, 1); }

#six.right, #eighteen.right {
  -webkit-animation: right 1s cubic-bezier(0.22, 0.44, 0, 1);
  -moz-animation: right 1s cubic-bezier(0.22, 0.44, 0, 1);
  -o-animation: right 1s cubic-bezier(0.22, 0.44, 0, 1);
  animation: right 1s cubic-bezier(0.22, 0.44, 0, 1); }

#eight.left, #twenty.left {
  -webkit-animation: left 1s cubic-bezier(0.22, 0.44, 0, 1);
  -moz-animation: left 1s cubic-bezier(0.22, 0.44, 0, 1);
  -o-animation: left 1s cubic-bezier(0.22, 0.44, 0, 1);
  animation: left 1s cubic-bezier(0.22, 0.44, 0, 1); }

/*# sourceMappingURL=style.css.map */
